<%-include("partials/header")%>
<%-include("partials/footer")%>
<form action="/user/reset-password" method="post">
    <input type="password" name="oldpassword" placeholder="oldpassword">
    <input type="password" name="newpassword" placeholder="newpassword">
    <button type="submit">
        reset-password
    </button>
</form>
<%- include("partials/footer")%>